# ================= CORE =================
torch==2.0.1
torchvision==0.15.2

diffusers==0.23.1
transformers==4.36.2
accelerate==0.25.0
huggingface_hub<0.25.0
safetensors==0.3.1

numpy<2
scipy
einops

# ================= IMAGE / CV =================
opencv-python
Pillow
scikit-image
matplotlib

# ================= IDM-VTON REQUIRED =================
onnxruntime-gpu==1.16.3

# ================= UTIL =================
tqdm
requests
runpod
