# --- Core ---
torch==2.0.1
torchvision==0.15.2

# --- IDM-VTON uyumlu ---
diffusers==0.23.1
transformers==4.36.2
accelerate==0.25.0
huggingface_hub<0.25.0
safetensors==0.3.1

# --- Numerical ---
numpy<2
scipy
einops

# --- Image / CV ---
opencv-python
Pillow

# --- Utils ---
tqdm
requests

# --- Serverless ---
runpod
